<a href="https://colab.research.google.com/github/NabilahSharfina/Ruangguru-Bootcamp/blob/main/Final_Project_DBA_Kelompok_255.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MARKETING

## Data Understanding

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
user = pd.read_csv('/content/drive/MyDrive/Project Ruang Guru Kel 255/Dataset/users.csv')
user.head()

NameError: ignored

# SALES

# HUMAN RESOURCES

# PRODUCT

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# load data from google

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Data Collection

#### Table inventory_items

In [7]:
inv_items = pd.read_csv('/content/drive/MyDrive/Project Ruang Guru Kel 255/Dataset Final Project DBA/inventory_items.csv')
inv_items

,id,product_id,created_at,sold_at,cost,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id
0,90967,16898,2021-07-19 02:20:10+00:00,2021-07-20 14:34:10+00:00,13.925000,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.000000,Men,22811EE19846217512507785E74D12CC,3
1,90968,16898,2020-04-13 07:46:00+00:00,NaN,13.925000,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.000000,Men,22811EE19846217512507785E74D12CC,3
2,90969,16898,2020-09-02 17:43:00+00:00,NaN,13.925000,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.000000,Men,22811EE19846217512507785E74D12CC,3
3,90970,16898,2021-08-19 15:17:00+00:00,NaN,13.925000,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.000000,Men,22811EE19846217512507785E74D12CC,3
4,96715,16898,2020-05-09 11:16:10+00:00,2020-06-23 23:59:10+00:00,13.925000,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.000000,Men,22811EE19846217512507785E74D12CC,3
...,...,...,...,...,...,...,...,...,...,...,...,...
487389,234443,14392,2020-04-09 17:38:00+00:00,NaN,15.752521,Maternity,La Leche League International Pullover Nursing...,La Leche League Sports Nurising Bra White,35.720001,Women,625D2D3101C23C47A46984741C232FED,9
487390,290890,14392,2021-03-18 14:42:49+00:00,2021-05-15 04:49:49+00:00,15.752521,Maternity,La Leche League International Pullover Nursing...,La Leche League Sports Nurising Bra White,35.720001,Women,625D2D3101C23C47A46984741C232FED,9
487391,290891,14392,2022-04-25 03:04:00+00:00,NaN,15.752521,Maternity,La Leche League International Pullover Nursing...,La Leche League Sports Nurising Bra White,35.720001,Women,625D2D3101C23C47A46984741C232FED,9
487392,301361,14392,2021-05-15 11:44:11+00:00,2021-06-27 04:00:11+00:00,15.752521,Maternity,La Leche League International Pullover Nursing...,La Leche League Sports Nurising Bra White,35.720001,Women,625D2D3101C23C47A46984741C232FED,9
487393,301362,14392,2020-06-22 15:50:00+00:00,NaN,15.752521,Maternity,La Leche League International Pullover Nursing...,La Leche League Sports Nurising Bra White,35.720001,Women,625D2D3101C23C47A46984741C232FED,9

Warning: total number of rows (487394) exceeds max_rows (20000). Limiting to first (20000) rows.

In [10]:
inv_items.shape

(487394, 12)

In [8]:
inv_items.columns.values

array(['id', 'product_id', 'created_at', 'sold_at', 'cost',
       'product_category', 'product_name', 'product_brand',
       'product_retail_price', 'product_department', 'product_sku',
       'product_distribution_center_id'], dtype=object)

#### Table products

In [11]:
products = pd.read_csv('/content/drive/MyDrive/Project Ruang Guru Kel 255/Dataset Final Project DBA/products.csv')
products.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,27569,92.652563,Swim,2XU Men's Swimmers Compression Long Sleeve Top,2XU,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1
1,27445,24.719661,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1
2,27457,15.897600,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1

In [12]:
products.shape

(29120, 9)

#### Table orders

In [13]:
orders = pd.read_csv('/content/drive/MyDrive/Project Ruang Guru Kel 255/Dataset Final Project DBA/orders.csv')
orders.head()

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item
0,11,9,Shipped,F,2021-12-11 05:34:00+00:00,NaN,2021-12-12 10:01:00+00:00,NaN,3
1,12,9,Shipped,F,2022-01-18 05:34:00+00:00,NaN,2022-01-19 20:20:00+00:00,NaN,1
2,22,14,Shipped,F,2020-08-18 11:51:00+00:00,NaN,2020-08-20 16:45:00+00:00,NaN,1
3,25,16,Shipped,F,2020-12-16 08:35:00+00:00,NaN,2020-12-17 21:43:00+00:00,NaN,2
4,26,16,Shipped,F,2020-09-07 08:35:00+00:00,NaN,2020-09-10 00:15:00+00:00,NaN,1

In [14]:
orders.shape

(124512, 9)

#### Table events

In [15]:
events = pd.read_csv('/content/drive/MyDrive/Project Ruang Guru Kel 255/Dataset Final Project DBA/events.csv')
events.head()

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,252,14.0,1,4ee0d7d3-ed29-4b1c-b038-1e3f78942acd,2020-08-18 08:46:32+00:00,138.65.151.151,Daejeon,Daejeon,302-160,Chrome,Email,/home,home
1,4473,301.0,1,a77d6232-0a03-4616-b836-446a32b9e4f4,2020-08-19 03:47:46+00:00,153.204.205.22,SÃ£o LuÃ­s,MaranhÃ£o,65000-000,IE,Email,/home,home
2,5756,401.0,1,0e517fbd-e152-4918-8f01-6036a180813c,2020-06-07 07:03:58+00:00,209.47.200.122,Sant AdriÃ de BesÃ²s,CataluÃ±a,8930,Chrome,Email,/home,home
3,8944,683.0,1,4c2fada8-7095-4de2-9728-31c0eed658b0,2020-09-23 04:52:13+00:00,60.42.59.118,Inhambupe,Bahia,48490-000,Chrome,Email,/home,home
4,9164,709.0,1,5a9c26be-01e9-4918-a908-77476667faa2,2021-07-29 16:05:33+00:00,194.208.170.21,Bayreuth,Bayern,95448,IE,Email,/home,home

## Data Understanding

In [18]:
# General info
inv_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487394 entries, 0 to 487393
Data columns (total 12 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              487394 non-null  int64
 1   product_id                      487394 non-null  int64
 2   created_at                      487394 non-null  object
 3   sold_at                         180508 non-null  object
 4   cost                            487394 non-null  float64
 5   product_category                487394 non-null  object
 6   product_name                    487359 non-null  object
 7   product_brand                   487020 non-null  object
 8   product_retail_price            487394 non-null  float64
 9   product_department              487394 non-null  object
 10  product_sku                     487394 non-null  object
 11  product_distribution_center_id  487394 non-null  int64
dtypes: float64(2), int64(3), object(7)
memory usage: 44.6+ MB

In [19]:
# General info
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29120 entries, 0 to 29119
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      29120 non-null  int64
 1   cost                    29120 non-null  float64
 2   category                29120 non-null  object
 3   name                    29118 non-null  object
 4   brand                   29096 non-null  object
 5   retail_price            29120 non-null  float64
 6   department              29120 non-null  object
 7   sku                     29120 non-null  object
 8   distribution_center_id  29120 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [20]:
# General info
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124512 entries, 0 to 124511
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      124512 non-null  int64
 1   user_id       124512 non-null  int64
 2   status        124512 non-null  object
 3   gender        124512 non-null  object
 4   created_at    124512 non-null  object
 5   returned_at   12149 non-null   object
 6   shipped_at    80884 non-null   object
 7   delivered_at  43418 non-null   object
 8   num_of_item   124512 non-null  int64
dtypes: int64(3), object(6)
memory usage: 8.5+ MB

In [21]:
# General info
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2418734 entries, 0 to 2418733
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   user_id          float64
 2   sequence_number  int64
 3   session_id       object
 4   created_at       object
 5   ip_address       object
 6   city             object
 7   state            object
 8   postal_code      object
 9   browser          object
 10  traffic_source   object
 11  uri              object
 12  event_type       object
dtypes: float64(1), int64(2), object(10)
memory usage: 239.9+ MB

## EDA

### Univariate Analysis

#### Table inventory_items

In [2]:
# Numerical Data
numerics = ['int8','int16', 'int32', 'int64', 'float16', 'float32', 'float64']

display(inv_items.select_dtypes(include = numerics).columns)
print(inv_items.select_dtypes(include = numerics).shape)

df_num_inv_items = inv_items.select_dtypes(include = numerics)
df_num_inv_items.head()

NameError: ignored

In [1]:
df_num_inv_items.describe().transpose()

NameError: ignored

**Keterangan:**

1. Ada 487.394 baris data, mungkin terdapat duplikasi / missing value
2. 25 % = Q1; 50 % = Q2; 75 % = Q3
3. Mean ~ 50% (Median), semua kolom tidak ada yang memiliki distribusi simetris. | Mean > 50% (Median), semua kolom memiliki skewed distribution ke kanan / positif. | Mean ~ 50% (Median), tidak ada kolum dgn skewed negatif / ke kiri.

In [23]:
# Non Numerical Data
display(inv_items.select_dtypes(include = ['object']).columns)
print(inv_items.select_dtypes(include = object).shape)

df_cat_inv_items = inv_items.select_dtypes(include = ['object'])
df_cat_inv_items.head()

Index(['created_at', 'sold_at', 'product_category', 'product_name',
       'product_brand', 'product_department', 'product_sku'],
      dtype='object')

(487394, 7)

,created_at,sold_at,product_category,product_name,product_brand,product_department,product_sku
0,2021-07-19 02:20:10+00:00,2021-07-20 14:34:10+00:00,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,Men,22811EE19846217512507785E74D12CC
1,2020-04-13 07:46:00+00:00,NaN,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,Men,22811EE19846217512507785E74D12CC
2,2020-09-02 17:43:00+00:00,NaN,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,Men,22811EE19846217512507785E74D12CC
3,2021-08-19 15:17:00+00:00,NaN,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,Men,22811EE19846217512507785E74D12CC
4,2020-05-09 11:16:10+00:00,2020-06-23 23:59:10+00:00,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,Men,22811EE19846217512507785E74D12CC

In [25]:
df_cat_inv_items.describe()

,created_at,sold_at,product_category,product_name,product_brand,product_department,product_sku
count,487394,180508,487394,487359,487020,487394,487394
unique,444495,180172,26,27247,2754,2,29050
top,2021-01-18 09:21:00+00:00,2022-03-10 07:49:24+00:00,Intimates,Wrangler Men's Premium Performance Cowboy Cut ...,Allegra K,Men,CD79499E36195AC3C3296EB666F9D39E
freq,5,3,36319,147,16392,244421,55

In [40]:
# Cek missing value
inv_items.isnull().sum()

id                                     0
product_id                             0
created_at                             0
sold_at                           306886
cost                                   0
product_category                       0
product_name                          35
product_brand                        374
product_retail_price                   0
product_department                     0
product_sku                            0
product_distribution_center_id         0
dtype: int64

In [41]:
# Duplicated data
inv_items.duplicated().sum()

0

In [44]:
rows = []
for col in df_cat_inv_items :
  rows.append(
    {
      'Nama Kolom': col,
      'Total Unique Values': len(inv_items[col].unique()),
      'Unique Values':  inv_items[col].unique()
    }
  )
# pd.options.display.max_colwidth = 100 #maksimal tampil 100 karakter
# maksimal tampil 70 karakter
pd.options.display.max_colwidth = 70 

# pd.options.display.max_colwidth 
# tanpa batas 
unik_inv_items = pd.DataFrame(rows)
unik_inv_items.sort_values(by='Total Unique Values', ascending=False).reset_index().drop('index', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,Nama Kolom,Total Unique Values,Unique Values
0,created_at,444495,"[2021-07-19 02:20:10+00:00, 2020-04-13 07:46:00+00:00, 2020-09-02 ..."
1,sold_at,180173,"[2021-07-20 14:34:10+00:00, nan, 2020-06-23 23:59:10+00:00, 2021-0..."
2,product_sku,29050,"[22811EE19846217512507785E74D12CC, C5A3C867A3DFB776552DCFC804D4937..."
3,product_name,27248,"[Quiksilver Waterman Men's On The Rise, KEEN Women Bellingham Low ..."
4,product_brand,2755,"[nan, H, BB, BG, CB, DC, GM, I5, JM, Ks, L1, MG, MR, MW, QT, SY, S..."
5,product_category,26,"[Tops & Tees, Socks & Hosiery, Accessories, Socks, Fashion Hoodies..."
6,product_department,2,"[Men, Women]"

#### Table products

In [35]:
# Numerical Data
numerics = ['int8','int16', 'int32', 'int64', 'float16', 'float32', 'float64']

display(products.select_dtypes(include = numerics).columns)
print(products.select_dtypes(include = numerics).shape)

df_num_products = products.select_dtypes(include = numerics)
df_num_products.head()

Index(['id', 'cost', 'retail_price', 'distribution_center_id'], dtype='object')

(29120, 4)

      id       cost  retail_price  distribution_center_id
0  27569  92.652563    150.410004                       1
1  27445  24.719661     38.990002                       1
2  27457  15.897600     27.600000                       1
3  27466  17.850000     30.000000                       1
4  27481  29.408001     45.950001                       1

In [36]:
df_num_products.describe().transpose()

                 id          cost  retail_price  distribution_center_id
count  29120.000000  29120.000000  29120.000000            29120.000000
mean   14560.500000     28.481774     59.220164                4.982898
std     8406.364256     30.624681     65.888927                2.901153
min        1.000000      0.008300      0.020000                1.000000
25%     7280.750000     11.275613     24.000000                2.000000
50%    14560.500000     19.675081     39.990002                5.000000
75%    21840.250000     34.440000     69.949997                8.000000
max    29120.000000    557.151002    999.000000               10.000000

In [29]:
# Non Numerical Data
display(products.select_dtypes(include = ['object']).columns)
print(products.select_dtypes(include = object).shape)

df_cat_products = products.select_dtypes(include = ['object'])
df_cat_products.head()

Index(['category', 'name', 'brand', 'department', 'sku'], dtype='object')

(29120, 5)

,category,name,brand,department,sku
0,Swim,2XU Men's Swimmers Compression Long Sleeve Top,2XU,Men,B23C5765E165D83AA924FA8F13C05F25
1,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,Men,2AB7D3B23574C3DEA2BD278AFD0939AB
2,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,Men,8F831227B0EB6C6D09A0555531365933
3,Swim,TYR Sport Men's Swim Short/Resistance Short Swim Suit,TYR,Men,67317D6DCC4CB778AEB9219565F5456B
4,Swim,TYR Alliance Team Splice Jammer,TYR,Men,213C888198806EF1A0E2BBF2F4855C6C

In [30]:
df_cat_products.describe()

,category,name,brand,department,sku
count,29120,29118,29096,29120,29120
unique,26,27309,2756,2,29120
top,Intimates,Wrangler Men's Premium Performance Cowboy Cut Jean,Allegra K,Women,B23C5765E165D83AA924FA8F13C05F25
freq,2363,8,1034,15989,1

In [34]:
# Cek missing value
products.isnull().sum()

id                         0
cost                       0
category                   0
name                       2
brand                     24
retail_price               0
department                 0
sku                        0
distribution_center_id     0
dtype: int64

In [42]:
# Duplicated data
products.duplicated().sum()

0

In [46]:
rows = []
for col in df_cat_products :
  rows.append(
    {
      'Nama Kolom': col,
      'Total Unique Values': len(products[col].unique()),
      'Unique Values':  products[col].unique()
    }
  )

# pd.options.display.max_colwidth = 100 #maksimal tampil 100 karakter
# maksimal tampil 70 karakter
pd.options.display.max_colwidth = 70 

# pd.options.display.max_colwidth 
# tanpa batas 
unik_products = pd.DataFrame(rows)
unik_products.sort_values(by='Total Unique Values', ascending=False).reset_index().drop('index', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,Nama Kolom,Total Unique Values,Unique Values
0,sku,29120,"[B23C5765E165D83AA924FA8F13C05F25, 2AB7D3B23574C3DEA2BD278AFD0939A..."
1,name,27310,"[2XU Men's Swimmers Compression Long Sleeve Top, TYR Sport Men's S..."
2,brand,2757,"[2XU, TYR, Onia, 2EROS, Matix, Alki'i, Hurley, TRUNKS, Ezekiel, Ru..."
3,category,26,"[Swim, Jeans, Pants, Socks, Active, Shorts, Sweaters, Underwear, A..."
4,department,2,"[Men, Women]"

#### Table orders

In [37]:
# Numerical Data
numerics = ['int8','int16', 'int32', 'int64', 'float16', 'float32', 'float64']

display(orders.select_dtypes(include = numerics).columns)
print(orders.select_dtypes(include = numerics).shape)

df_num_orders = orders.select_dtypes(include = numerics)
df_num_orders.head()

Index(['order_id', 'user_id', 'num_of_item'], dtype='object')

(124512, 3)

   order_id  user_id  num_of_item
0        11        9            3
1        12        9            1
2        22       14            1
3        25       16            2
4        26       16            1

In [39]:
df_num_orders.describe().transpose()

            order_id        user_id    num_of_item
count  124512.000000  124512.000000  124512.000000
mean    62256.500000   50050.013613       1.449724
std     35943.662696   28800.914580       0.802567
min         1.000000       1.000000       1.000000
25%     31128.750000   25151.000000       1.000000
50%     62256.500000   50071.500000       1.000000
75%     93384.250000   74949.250000       2.000000
max    124512.000000  100000.000000       4.000000

In [31]:
# Non Numerical Data
display(orders.select_dtypes(include = ['object']).columns)
print(orders.select_dtypes(include = object).shape)

df_cat_orders = orders.select_dtypes(include = ['object'])
df_cat_orders.head()

Index(['status', 'gender', 'created_at', 'returned_at', 'shipped_at',
       'delivered_at'],
      dtype='object')

(124512, 6)

,status,gender,created_at,returned_at,shipped_at,delivered_at
0,Shipped,F,2021-12-11 05:34:00+00:00,NaN,2021-12-12 10:01:00+00:00,NaN
1,Shipped,F,2022-01-18 05:34:00+00:00,NaN,2022-01-19 20:20:00+00:00,NaN
2,Shipped,F,2020-08-18 11:51:00+00:00,NaN,2020-08-20 16:45:00+00:00,NaN
3,Shipped,F,2020-12-16 08:35:00+00:00,NaN,2020-12-17 21:43:00+00:00,NaN
4,Shipped,F,2020-09-07 08:35:00+00:00,NaN,2020-09-10 00:15:00+00:00,NaN

In [32]:
df_cat_orders.describe()

,status,gender,created_at,returned_at,shipped_at,delivered_at
count,124512,124512,124512,12149,80884,43418
unique,5,2,113885,12065,77625,42494
top,Shipped,F,2022-06-01 12:08:00+00:00,2021-09-07 00:37:00+00:00,2022-05-20 07:35:00+00:00,2022-06-01 05:15:00+00:00
freq,37466,62288,5,2,5,3

In [33]:
# Cek missing value
orders.isnull().sum()

order_id             0
user_id              0
status               0
gender               0
created_at           0
returned_at     112363
shipped_at       43628
delivered_at     81094
num_of_item          0
dtype: int64

In [43]:
# Duplicated data
orders.duplicated().sum()

0

In [47]:
rows = []
for col in df_cat_orders :
  rows.append(
    {
      'Nama Kolom': col,
      'Total Unique Values': len(orders[col].unique()),
      'Unique Values':  orders[col].unique()
    }
  )

# pd.options.display.max_colwidth = 100 #maksimal tampil 100 karakter
#maksimal tampil 70 karakter
pd.options.display.max_colwidth = 70 

# pd.options.display.max_colwidth 
#tanpa batas 
unik_orders = pd.DataFrame(rows)
unik_orders.sort_values(by='Total Unique Values', ascending=False).reset_index().drop('index', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,Nama Kolom,Total Unique Values,Unique Values
0,created_at,113885,"[2021-12-11 05:34:00+00:00, 2022-01-18 05:34:00+00:00, 2020-08-18 ..."
1,shipped_at,77626,"[2021-12-12 10:01:00+00:00, 2022-01-19 20:20:00+00:00, 2020-08-20 ..."
2,delivered_at,42495,"[nan, 2022-02-19 03:08:00+00:00, 2021-01-20 02:36:00+00:00, 2021-0..."
3,returned_at,12066,"[nan, 2022-02-01 03:01:00+00:00, 2021-01-07 01:12:00+00:00, 2020-0..."
4,status,5,"[Shipped, Complete, Returned, Cancelled, Processing]"
5,gender,2,"[F, M]"

### Multivariate Analysis

## Join Table

In [10]:
# Join table inventory_items dan products
inv_items = pd.read_csv('/content/drive/MyDrive/Project Ruang Guru Kel 255/Dataset Final Project DBA/inventory_items.csv')
products = pd.read_csv('/content/drive/MyDrive/Project Ruang Guru Kel 255/Dataset Final Project DBA/products.csv')

In [ ]:
# Fungsi Inner Join
pd.merge(left=id, right=)

In [11]:
# Fungsi Inner Join
inner_join = pd.merge(
    inv_items, 
    products, 
    on ='product_id', 
    how ='inner')

print(inner_join)

KeyError: ignored

## Data Cleaning

## Modelling